.container{
    display: flex!important;
    flex-direction: row;
    width: 90vw;
    margin:60px auto;
    background-color: rgb(52,144,194);
    border-radius: 1vw;
}
.weather-item{
    border-right: 1px solid white;
    flex:1;
    color:white;
    height: 20vw;
    text-align: center;
    position:relative;
}
img{
    margin-top: 2vw;
    width: 100px;
    height: 100px;
}
.weather-info{
    width: 100%;
    position:absolute;
    bottom: 20px;
}
