.container{
    display: flex!important;
    flex-direction: row;
    width: 90vw;
    margin:60px auto;
    background: linear-gradient(0deg,rgb(62,160,215),rgb(21,97,140));
    border-radius: 1vw;
}
.weather-item{
    border-right: 1px solid white;
    flex:1;
    color:white;
    height: 20vw;
    text-align: center;
    position:relative;
}
.weather-item:hover{
    cursor: pointer;
    background: linear-gradient(0deg, rgb(33,128,182),rgb(17,73,107));
}
img{
    margin-top: 2vw;
    width: 100px;
    height: 100px;
}
.weather-info{
    width: 100%;
    position:absolute;
    bottom: 20px;
}
